@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/userDropdown.css" />
</head>


@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown" >              
        <img src="~/images/user-flat.svg" class="user dropdown-toggle " role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">            
            <form asp-area="" asp-controller="Account" asp-action="Logout" 
            id="logoutForm" method="POST">
                <ul class="dropdown-item">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="logout">Logout</a>
                </ul>    
            </form>                                 
        </div>
    </div>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" style="color:white">&nbsp; Login&nbsp; </a>
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" style="color:white">&nbsp;Registro&nbsp;&nbsp;&nbsp; </a>
    </ul>
}
