@model ObjectsLoaneds.Models.ObjectsLoanedModel

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar novo objeto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamePeopleLoaned" class="control-label">Para quem foi emprestado</label>
                <input asp-for="NamePeopleLoaned" class="form-control" />
                <span asp-validation-for="NamePeopleLoaned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameObjectLoaned" class="control-label">Objeto que foi emprestado</label>
                <input asp-for="NameObjectLoaned" class="form-control" />
                <span asp-validation-for="NameObjectLoaned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLoanedObject" class="control-label">Dia que você emprestou o objeto</label>
                <input asp-for="DateLoanedObject" class="form-control" />
                <span asp-validation-for="DateLoanedObject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitDate" class="control-label">Dia para a devolução do objeto</label>
                <input asp-for="LimitDate" class="form-control" />
                <span asp-validation-for="LimitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
